<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8" />
  <title>ログイン</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Yomogi&display=swap" rel="stylesheet" />
</head>
<body class="login">
  <div class="login-container">
    <h2>パスワードを入力してください</h2>
    <form method="POST" action="/login">
      <input type="password" name="password" placeholder="パスワード" required />
      <button type="submit">ログイン</button>
    </form>
    {% if error %}
      <p style="color: red;">パスワードが違います。</p>
    {% endif %}

    <!-- ★★★注釈（本番用では消す） ★★★-->
    <div class="login-note">
        <p>
          パスワードは、青チャート数II+Bのp.572の題名のうち、地域名をローマ字で書いたものです。

          4stepと青チャEXERCISESは未チェックのため、問題文が正しくない場合があります。ミスを発見した場合は、お手数ですが管理人までご一報ください。<br>
          2025/07/10更新
        </p>
    </div>
    <!-- ★★★ここまで★★★ -->
  </div>
  <script type="module" src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>
